/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$black: #000;
$yellow: #ffc600;

$mainGray: #4c4c4c;

body {
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	color: #4c4c4c;
	gangam: #style;
}

// input override
input[type="text"], textarea, select {
	border: 1px solid #4c4c4c !important;
	border-radius: 0!important;
	-webkit-border-radius: 0!important;
}

.input-group-addon {
	border-color: #4c4c4c !important;
	border-width: 1px;
	border-radius: 0!important;
}

button {
	background-color: #9eba2d!important;
	border: 0!important;
	text-transform: uppercase!important;
}

//input override end

// TO DEBUG STUFF :)

pre {
	z-index: 3000!important;
	display: block!important;
	//position: absolute;
	background-color: $black;
	color: $yellow;
	border-radius: 0;
	margin-top: 50px;
	padding: 10px;
}

.bold {
	font-size: 0.9em;
	font-weight: bolder;
}

.container {
	max-width: 900px;
}

.helpific-navbar {
	box-shadow: 2px 4px 5px 0.00px rgba(1, 1, 1, 0.1);
	//padding: 10px 0;
	background-color: #fff;
	height: 100px !important;

	.loggedLink {
		text-decoration: underline!important;
	}

	a {
		color:  #05aad7;
		font-size: 1.2em; /* Approximation due to font substitution */
		font-weight: 700;
	}

	li {
		margin-left: 10px;
	}

	li.active, li.active a {
		color:  #4c4c4c;
		font-weight: 700;
	}

	li:hover {
		border: 0!important;
	}

	.navbar-toggle {
		font-size: 2em;
		margin-top: 30px;
		background-color: #eee!important;
	}

	.navbar-collapse {
		background-color: #fff!important;
	}
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 1.7em;
	font-weight: bold;
}

p {
	margin: 15px 0;
}

.centered {
	text-align: center;
}

.centered-margin {
	margin: 0 auto;
}

.main-container {
	margin-top: 100px;
}

button.btn {
	.yellowbutton {
		background-color: $black!important;
		color: $yellow!important;
	}
}

.m40top {
	margin-top: 40px;
}

.m20top {
	margin-top: 20px;
}

.italic {
		font-style: italic;
}

.header_picture {
	margin-top: 51px;
	background-image: url(../images/header.png);
	height: 399px;
	background-color: #ccc;
	width: 100%;

	h1, h2 {
		color: #fff;
	}

	.headline {
		padding-top: 100px;
	}

	a, a:hover {
		text-decoration: none!important;
	}

	h1 {
		font-size: 25px;
	}

	h2 {
		font-size: 20px;
	}
}

.person-row {
	margin-bottom: 40px;

	a, a:hover {
		color: $mainGray;
		font-size: 1.4em;
	}

	i {
		margin: 10px;
		margin-top: 0;
	}
}

.front-doors {
	background-color: #ccc;
	width: 100%;

	a.btn {
		background-color: transparent!important;
		border-radius: 4px;
		border: 4px solid #fff;
		color: #fff;
		font-size: 1.6em!important;
		font-weight: 700;
		word-wrap: break-word!important;
	}

	.keyImage {
		max-width: 200px;
		width: 100%;
		//height: 100px;
		margin: 0 auto;
		position: relative;
		top: 250px;
		margin-bottom: -100px;
	}

	.inner-content {
		padding-top: 100px;

		.second-line {
			font-size: 1.28em;
		}

		.first-line {
			font-size: 1.6em;

			strong {
				font-weight: bold;
				color: #fff;
			}
		}
	}

	.left {
		float: left;
		width: 50%;
		background-color:  #05aad7;
		text-align: center;
		cursor: pointer;

	    transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -webkit-transition: all 0.5s ease;

		&:hover {
			background-color: #1292B5;
		}

		.inner-content {
			img {
				margin: 0 auto;
				margin-top: 45px;
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	.right {
		float: left;
		width: 50%;
		background-color:  #a3b930;
		text-align: center;
		cursor: pointer;

	    transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -webkit-transition: all 0.5s ease;

		&:hover {
			background-color: #B0CA2B;
		}

		.inner-content {
			img {
				margin: 0 auto;
				margin-top: 45px;
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}

footer {
	width: 100%;
	background-color:  #d5d5d5;
	height: 180px;
	margin-top: 100px;

	h3 {
		font-size: 1.6em;
	}

	.footer-container {
		padding-top: 30px;

		.icons {
			font-size: 4em;
			margin-bottom: 20px;
		}
	}

	a, a:hover {
		color: $mainGray!important;
	}

	.garage-logo {
		position: absolute;
		right: 14%;
		margin-top: -65px;
	}
}

@import "./listing";
@import "./large";
@import "./small";

