/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$black: #000;
$yellow: #ffc600;

body {
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	color: #000;
}

// TO DEBUG STUFF :)

pre {
	z-index: 3000!important;
	display: block!important;
	//position: absolute;
	background-color: $black;
	color: $yellow;
	border-radius: 0;
	margin-top: 50px;
	padding: 10px;
}

.container {
	max-width: 900px;
}

.helpific-navbar {
	box-shadow: 2px 4px 5px 0.00px rgba(1, 1, 1, 0.1);
	padding: 10px 0;
	background-color: #fff;
	height: 120px !important;

	a {
		color:  #05aad7;
		font-size: 24px; /* Approximation due to font substitution */
		font-weight: 700;
	}

	li {
		margin-left: 10px;
	}

	li.active, li.active a {
		color:  #4c4c4c;
		font-size: 24px; /* Approximation due to font substitution */
		font-weight: 700;
	}

	li:hover {
		border: 0!important;
	}

	.navbar-toggle {
		color: $yellow;
		font-size: 1.7em;
	}
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 1.7em;
	font-weight: bold;
}

p {
	margin: 15px 0;
}

.centered {
	text-align: center;
}

.centered-margin {
	margin: 0 auto;
}

.main-container {
	margin-top: 100px;
}

button.btn {
	.yellowbutton {
		background-color: $black!important;
		color: $yellow!important;
	}
}

.m40top {
	margin-top: 40px;
}

.m20top {
	margin-top: 20px;
}

.italic {
		font-style: italic;
}

.header_picture {
	margin-top: 71px;
	background-image: url(../images/header.png);
	height: 399px;
	background-color: #ccc;
	width: 100%;

	h1, h2 {
		color: #fff;
	}

	.headline {
		padding-top: 100px;
	}

	a, a:hover {
		text-decoration: none!important;
	}

	h1 {
		font-size: 25px;
	}

	h2 {
		font-size: 20px;
	} 
}

.front-doors {
	height: 800px;
	background-color: #ccc;
	width: 100%;

	.left {
		float: left;
		width: 50%;
		background-color:  #05aad7;
		height: 800px;
	}

	.right {
		float: left;
		width: 50%;
		background-color:  #a3b930;
		height: 800px;
	}
}

@import "./listing";
@import "./large";

