<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         stopOnFailure="false"
         bootstrap="bootstrap_phpunit.php">
    <php>
        <server name="SERVER_NAME" value="http://www.helpific.com"/>
        <server name="REMOTE_ADDR" vaulue="127.0.0.1"/>
    </php>
    <testsuites>
        <testsuite name="SystemTests">
            <directory suffix=".php">system</directory>
        </testsuite>
    </testsuites>
</phpunit>