/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #4c4c4c;
  gangam: #style;
}

/* line 22, ../sass/screen.scss */
input[type="text"], textarea, select {
  border: 1px solid #4c4c4c !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

/* line 28, ../sass/screen.scss */
.input-group-addon {
  border-color: #4c4c4c !important;
  border-width: 1px;
  border-radius: 0 !important;
}

/* line 34, ../sass/screen.scss */
button {
  background-color: #9eba2d !important;
  border: 0 !important;
  text-transform: uppercase !important;
}

/* line 44, ../sass/screen.scss */
pre {
  z-index: 3000 !important;
  display: block !important;
  background-color: #000;
  color: #ffc600;
  border-radius: 0;
  margin-top: 50px;
  padding: 10px;
}

/* line 55, ../sass/screen.scss */
.bold {
  font-size: 0.9em;
  font-weight: bolder;
}

/* line 60, ../sass/screen.scss */
.container {
  max-width: 900px;
}

/* line 64, ../sass/screen.scss */
.helpific-navbar {
  box-shadow: 2px 4px 5px 0px rgba(1, 1, 1, 0.1);
  background-color: #fff;
  height: 100px !important;
}
/* line 70, ../sass/screen.scss */
.helpific-navbar .loggedLink {
  text-decoration: underline !important;
}
/* line 74, ../sass/screen.scss */
.helpific-navbar a {
  color: #05aad7;
  font-size: 1.2em;
  /* Approximation due to font substitution */
  font-weight: 700;
}
/* line 80, ../sass/screen.scss */
.helpific-navbar li {
  margin-left: 10px;
}
/* line 84, ../sass/screen.scss */
.helpific-navbar li.active, .helpific-navbar li.active a {
  color: #4c4c4c;
  font-weight: 700;
}
/* line 89, ../sass/screen.scss */
.helpific-navbar li:hover {
  border: 0 !important;
}
/* line 93, ../sass/screen.scss */
.helpific-navbar .navbar-toggle {
  font-size: 2em;
  margin-top: 30px;
  background-color: #eee !important;
}
/* line 99, ../sass/screen.scss */
.helpific-navbar .navbar-collapse {
  background-color: #fff !important;
}

/* line 104, ../sass/screen.scss */
h1 {
  font-size: 2em;
  font-weight: bold;
}

/* line 109, ../sass/screen.scss */
h2 {
  font-size: 1.7em;
  font-weight: bold;
}

/* line 114, ../sass/screen.scss */
p {
  margin: 15px 0;
}

/* line 118, ../sass/screen.scss */
.centered {
  text-align: center;
}

/* line 122, ../sass/screen.scss */
.centered-margin {
  margin: 0 auto;
}

/* line 126, ../sass/screen.scss */
.main-container {
  margin-top: 100px;
}

/* line 131, ../sass/screen.scss */
button.btn .yellowbutton {
  background-color: #000 !important;
  color: #ffc600 !important;
}

/* line 137, ../sass/screen.scss */
.m40top {
  margin-top: 40px;
}

/* line 141, ../sass/screen.scss */
.m20top {
  margin-top: 20px;
}

/* line 145, ../sass/screen.scss */
.italic {
  font-style: italic;
}

/* line 149, ../sass/screen.scss */
.header_picture {
  margin-top: 51px;
  background-image: url(../images/header2.jpg);
  height: 399px;
  background-color: #ccc;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 161, ../sass/screen.scss */
.header_picture h1, .header_picture h2 {
  color: #fff;
}
/* line 165, ../sass/screen.scss */
.header_picture .headline {
  padding-top: 100px;
}
/* line 169, ../sass/screen.scss */
.header_picture a, .header_picture a:hover {
  text-decoration: none !important;
}
/* line 173, ../sass/screen.scss */
.header_picture h1 {
  font-size: 25px;
}
/* line 177, ../sass/screen.scss */
.header_picture h2 {
  font-size: 20px;
}

/* line 182, ../sass/screen.scss */
.person-row {
  margin-bottom: 40px;
}
/* line 185, ../sass/screen.scss */
.person-row a, .person-row a:hover {
  color: #4c4c4c;
  font-size: 1.4em;
}
/* line 190, ../sass/screen.scss */
.person-row i {
  margin: 10px;
  margin-top: 0;
}

/* line 196, ../sass/screen.scss */
.front-doors {
  background-color: #ccc;
  width: 100%;
}
/* line 200, ../sass/screen.scss */
.front-doors a.btn {
  background-color: transparent !important;
  border-radius: 4px;
  border: 4px solid #fff;
  color: #fff;
  font-size: 1.6em !important;
  font-weight: 700;
  word-wrap: break-word !important;
}
/* line 210, ../sass/screen.scss */
.front-doors .keyImage {
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 250px;
  margin-bottom: -150px;
}
/* line 220, ../sass/screen.scss */
.front-doors .inner-content {
  padding-top: 100px;
}
/* line 223, ../sass/screen.scss */
.front-doors .inner-content .second-line {
  font-size: 1.28em;
}
/* line 227, ../sass/screen.scss */
.front-doors .inner-content .first-line {
  font-size: 1.6em;
}
/* line 230, ../sass/screen.scss */
.front-doors .inner-content .first-line strong {
  font-weight: bold;
  color: #fff;
}
/* line 237, ../sass/screen.scss */
.front-doors .left {
  float: left;
  width: 50%;
  background-color: #05aad7;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
/* line 248, ../sass/screen.scss */
.front-doors .left:hover {
  background-color: #1292B5;
}
/* line 253, ../sass/screen.scss */
.front-doors .left .inner-content img {
  margin: 0 auto;
  margin-top: 45px;
  padding-left: 30px;
  padding-right: 30px;
  max-height: 334px !important;
}
/* line 262, ../sass/screen.scss */
.front-doors .left .ondoorimage {
  position: absolute;
  margin-left: 15.35%;
}
/* line 268, ../sass/screen.scss */
.front-doors .right {
  float: left;
  width: 50%;
  background-color: #a3b930;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
/* line 279, ../sass/screen.scss */
.front-doors .right:hover {
  background-color: #B0CA2B;
}
/* line 284, ../sass/screen.scss */
.front-doors .right .inner-content img {
  margin: 0 auto;
  margin-top: 45px;
  padding-left: 30px;
  padding-right: 30px;
  max-height: 334px !important;
}
/* line 293, ../sass/screen.scss */
.front-doors .right .ondoorimage {
  position: absolute;
  margin-left: 16%;
}

/* line 300, ../sass/screen.scss */
footer {
  width: 100%;
  background-color: #d5d5d5;
  height: 180px;
  margin-top: 100px;
}
/* line 306, ../sass/screen.scss */
footer h3 {
  font-size: 1.6em;
}
/* line 310, ../sass/screen.scss */
footer .footer-container {
  padding-top: 30px;
}
/* line 313, ../sass/screen.scss */
footer .footer-container .icons {
  font-size: 4em;
  margin-bottom: 20px;
}
/* line 319, ../sass/screen.scss */
footer a, footer a:hover {
  color: #4c4c4c !important;
}
/* line 323, ../sass/screen.scss */
footer .garage-logo {
  position: absolute;
  right: 14%;
  margin-top: -65px;
}

/* line 1, ../sass/listing.scss */
.event-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* line 6, ../sass/listing.scss */
.event-list > li {
  background-color: white;
  box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  padding: 0px;
  margin: 0px 0px 20px;
}

/* line 13, ../sass/listing.scss */
.event-list > li > time {
  display: inline-block;
  width: 100%;
  color: white;
  background-color: #c52c66;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

/* line 22, ../sass/listing.scss */
.event-list > li:nth-child(even) > time {
  background-color: #a552a7;
}

/* line 25, ../sass/listing.scss */
.event-list > li > time > span {
  display: none;
}

/* line 28, ../sass/listing.scss */
.event-list > li > time > .day {
  display: block;
  font-size: 56pt;
  font-weight: 100;
  line-height: 1;
}

/* line 34, ../sass/listing.scss */
.event-list > li time > .month {
  display: block;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1;
}

/* line 40, ../sass/listing.scss */
.event-list > li > img {
  width: 100%;
}

/* line 43, ../sass/listing.scss */
.event-list > li > .info {
  padding-top: 5px;
  text-align: center;
}

/* line 47, ../sass/listing.scss */
.event-list > li > .info > .title {
  font-size: 17pt;
  font-weight: 700;
  margin: 0px;
}

/* line 52, ../sass/listing.scss */
.event-list > li > .info > .desc {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px;
  margin-top: 10px;
}

/* line 59, ../sass/listing.scss */
.event-list > li > .social > ul {
  margin: 0px;
}

/* line 62, ../sass/listing.scss */
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
  display: table-cell;
  cursor: pointer;
  color: #1e1e1e;
  font-size: 11pt;
  font-weight: 300;
  padding: 3px 0px;
}

/* line 72, ../sass/listing.scss */
.event-list > li > .viewButton {
  top: 0px;
  right: 0px;
  display: block;
  padding: 32px 0;
  text-align: center;
}

@media (min-width: 768px) {
  /* line 82, ../sass/listing.scss */
  .event-list > li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
  }

  /* line 89, ../sass/listing.scss */
  .event-list > li > time,
  .event-list > li > img {
    display: inline-block;
  }

  /* line 93, ../sass/listing.scss */
  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    float: left;
  }

  /* line 98, ../sass/listing.scss */
  .event-list > li > .info {
    background-color: whitesmoke;
    overflow: hidden;
  }

  /* line 102, ../sass/listing.scss */
  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
  }

  /* line 109, ../sass/listing.scss */
  .event-list > li > .info {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px;
  }

  /* line 115, ../sass/listing.scss */
  .event-list > li > .info > .title,
  .event-list > li > .info > .desc {
    padding: 0px 10px;
  }

  /* line 120, ../sass/listing.scss */
  .event-list > li > .viewButton {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 100px;
    padding-top: 12px;
  }
}
@media (min-width: 768px) {
  /* line 2, ../sass/large.scss */
  .navbar-nav {
    margin-top: 30px;
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  /* line 2, ../sass/small.scss */
  .header-logo {
    margin-left: 20px;
  }
}
