{% extends "_layouts/main_layout.html.twig" %}

{% block content %}

	<div class="row person-row">		
		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle">
		</div>

		<div class="col-md-8">
			<h2>Marlen Kakkori</h2>
			<br>
			<span class="label label-default">project manager</span>
			<span class="label label-default">human rights advocate</span>
			<span class="label label-default">social media</span>
			<span class="label label-default">market researcher</span>
			
			<p>In Helpific team her role is project management, a bit of marketing and writing content for designer. I'm currently studying in Tallinn University (TLU) political science and international relations and working as a international youth project manager in Unitas Foundation. Marlen is  student council vice president in TLU Institute of Political Science and Public Administration and student activist.</p>
		</div>
	</div>

	<div class="row person-row">
		<div class="col-md-8">
			<h2>Lana Kaplanovic</h2>
			<br>
			<span class="label label-default">human rights advocate</span>

			<p>She´s a human rights advocate in Helpific project. Lana has experience in international relations, project management and human rights. Her field of interest is cyber security, internet freedom and human rights. I am also a volunteer at Human Rights Center Estonia.</p>
		</div>

		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle">
		</div>
	</div>

	<div class="row person-row">		
		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle">
		</div>

		<div class="col-md-8">
			<h2>Peeter Karjus </h2>
			<br>
			<span class="label label-default">marketer</span>
			
			<p>In Helpific team his role is marketing. He´s currently studying in Tallinn University Rakvere College business administration and management. Peeter has experience in sales and marketing.</p>
		</div>
	</div>

	<div class="row person-row">		
		<div class="col-md-8">
			<h2>Triin Üksvärav</h2>
			<br>
			<span class="label label-default">social worker</span>
			<span class="label label-default">social media marketer</span>
			
			<p>Team member of Timber Diameter (now Timbeter) that was the winner of Garage48 Pärnu 2013 and Brainhunt (Ajujaht) 2014.  Over 10 years of experience in HR (HR specialist, recruiting also disabled people). http://www.linkedin.com/pub/triin-%C3%BCksv%C3%A4rav/79/181/2b2 </p>
		</div>

		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle">
		</div>
	</div>

	<div class="row person-row">		
		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="{{base_url}}/assets/images/people/sergei.jpg" class="img-responsive img-circle">
		</div>

		<div class="col-md-8">
			<h2>Sergei Beregov </h2>
			<br>
			<span class="label label-default">fullstack developer</span>
			
			<p>He´s a developer who wants to make this world better. Sergei started coding when he was a child and couldn't stop. Mostly Sergei focuses on developing web applications. Currently he is a Masters student at Tallinn University of Technology.</p>

			<span><a href="https://www.facebook.com/sergei.beregov" target="_blank"><i class="fa fa-facebook-square"></i></a></span>

			<span><a href="https://www.twitter.com/pros22su" target="_blank"><i class="fa fa-twitter-square"></i></a></span>

			<span><a href="https://www.linkedin.com/profile/view?id=275122290&amp;trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin-square"></i></a></span>
		</div>
	</div>

	<div class="row person-row">		
		<div class="col-md-8">
			<h2>Kristjan Siimson </h2>
			<br>
			<span class="label label-default">fullstack developer</span>
			
			<p>lolcat</p>
		</div>

		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle">
		</div>
	</div>

	<div class="row person-row">		
		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle">
		</div>

		<div class="col-md-8">
			<h2>Risto Novik</h2>
			<br>
			<span class="label label-default">fullstack developer</span>
			
			<p>A proud Linux user, Risto has a soft spot for open-source projects and volunteers to test them sometimes. Meanwhile, he got his Bachelor’s in informatics. Apparently no one told him to stop, because he’s now working his way through Master’s studies. All in the service, Risto claims, of his interest in new technologies and their possible use in everyday life.https://www.linkedin.com/in/ristonovik. </p>
		</div>
	</div>

	<div class="row person-row">		
		<div class="col-md-8">
			<h2>Annika Amenberg </h2>
			<br>
			<span class="label label-default">marketer</span>
			
			<p>https://www.linkedin.com/pub/annika-amenberg/67/b36/3b2. </p>
		</div>

		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle">
		</div>
	</div>

	<div class="row person-row">		
		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle">
		</div>

		<div class="col-md-8">
			<h2>Keiu Roosimägi</h2>
			<br>
			<span class="label label-default">visionary</span>
			<span class="label label-default">project manager</span>
			
			<p>In Helpific team her role is to be the Project Manager. On daily bases she´s the CEO and senior lawyer in Claudius Law Office Tallinn and founder-head of Tallinn and Harju Country Union of Women with Special Needs. Keiu is also freelancer film director-scriptwriter. To have more fun she runs a series of events called "Friday Lemonade". She has a 8-years son. He is footballer and IT-guy.</p>
		</div>
	</div>

	<div class="row person-row">		
		<div class="col-md-8">
			<h2>Zsolt Bugarszki </h2>
			<br>
			<span class="label label-default">social worker</span>
			<span class="label label-default">visionary</span>
			<span class="label label-default">marketer</span>
			<span class="label label-default">social media</span>
			
			<p>Zsolt is a social worker, teaching Social Policy at Tallinn University Institute of Social Work. His main field is mental health and disability care. https://www.linkedin.com/in/zsoltbugarszki</p>
		</div>

		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle">
		</div>
	</div>

	<div class="row person-row">		
		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle">
		</div>

		<div class="col-md-8">
			<h2>Jüri Lehtmets</h2>
			<br>
			
			<p>...</p>
		</div>
	</div>

	<div class="row person-row">		
		<div class="col-md-8">
			<h2>Tom Rüütel </h2>
			<br>

			
			<p>Tom is a young lad who has experiencec for 26 years, that is pretty much to understand the need of Helpific in daily life. He works in Tallinn city's board of disabled people. In Helpific his role is to be available and connectable when he´s needed!</p>
		</div>

		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle">
		</div>
	</div>

		<div class="row person-row">		
		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="http://placehold.it/150x150" class="img-responsive img-circle">
		</div>

		<div class="col-md-8">
			<h2>Sven-Sten Kloren</h2>
			<br>
			
			<p>...</p>
		</div>
	</div>


{% endblock %}