{% extends "_layouts/main_layout.html.twig" %}

{% block content %}

<div style="line-height: 2em;">

	<div class="row">

		<h1><a href="#main-idea">Our main idea</a></h1>
		<p>
            Helpific is a person to person platform to create stronger communities. It is a platform that allows people
            in need for some help to send out requests to volunteers willing to help. Helpific platform aims to make
            daily activities easier for its users.
		</p>

		<h2><a href="#how">How?</a></h2>
		<p>
			By putting together the individuals who need a favor and the ones who can do a favor.
			Helpific—it's never been easier to give and get help. Helpific helps to connect those who need help with those who want to give help.
		</p>

		<h2><a href="#target-group">Our target group</a></h2>
		<p>
			Our minimum target in Estonia is 130 000 people with special needs, and all of the  1 170 000 people willing to do
            something good for them. Basically 10% of the population has some kind of disability.
		</p>

		<h2><a href="#vision">Vision</a></h2>
		<p>
			We are starting local, but our idea is to go global with Helpific. We are non-profit organization, aiming to grow global, reaching every person with the need of help.
		</p>

		<h2><a href="#team-overview">Team overview</a></h2>
		<p>
			We have 10 members in our team—3 developers, several marketers, 2 project managers and many people with human rights and social worker background. Also several mentors.
		</p>
		<p>
			Many people with disabilities were included from the beginning and gave their suggestions. Because you can´t create anything for disabled people without including them.
		</p>
		<p>
			And we even have one investor in our team, <a href="http://estban.ee/">ESTBAN</a> and <a href="http://startupwiseguys.com/">Startup Wise Guys</a> member, who has investments <a href="https://www.sportlyzer.com/">Sportlyzer</a> and <a href="http://www.likealocalguide.com/">Like a Local</a>.
		</p>
	</div>

</div>

{% endblock %}
