{% extends "_layouts/main_layout.html.twig" %}

{% block content %}

<div style="line-height: 2em;">

	<div class="row">

		<h1><a href="#main-idea">Our main idea</a></h1>
		<p>
            Helpific is a person to person platform for creating a stronger community. The main idea is to connect
            volunteers with those in need of help. Assistance is offered in several categories: help in transportation,
            personal assistance, housework and access to public events.
		</p>

		<h2><a href="#how">How?</a></h2>
		<p>
            By putting together the ones who need help with the ones who can offer help. Helpific—it's never been easier
            to give and get help. Helpific helps to connect those who need help with those who want to give help.
		</p>

		<h2><a href="#target-group">Our target group</a></h2>
		<p>
            Our minimum target in Estonia is 130 000 people (about 10%) with special needs and all of those Estonian
            people who are activly volunteering (over 30%). We aim to export this logics in any other nation, as we grow and cross the borders.
		</p>

		<h2><a href="#vision">Vision</a></h2>
		<p>
            We are starting local, but our idea is to go global with Helpific. We are non-profit organization, aiming to
            grow global, reaching every person in need of help. Nothing for disabled people without including them!</p>
	</div>

</div>

{% endblock %}
