{% extends "_layouts/main_layout.html.twig" %}

{% block content %}

    <h1>Suured tänud külastamast Helpifici kodulehte!</h1>

    <p>See siin on Helpifici platvormi demoversioon, mis sai loodud Garage48 Enable Tallinn ürituse raames 2014. aasta novembri viimastel päevadel. Päris toimiv ja töötav Helpifici platvorm valmib õige pea, hetkel on käimas tõsised arendustööd. Palume mõistvat suhtumist ja kannatust!</p>

    <p>Seniks saate meie tegemisi jälgida <a href="https://www.facebook.com/Helpific">Helpific Facebooki</a> lehel. Vahendame Facebooki lehel ka abivajajate palveid ja vabatahtlike abipakkumisi.</p>

    <h1>Helpific</h1>
        <p><strong>Helpific</strong> on vabatahtlikke ja abivajajaid ühendav
            veebipõhine platvorm, mis viib kokku vabatahtliku abivajajaga, et
            luua tugevamat ja hoolivamat kogukonda.</p>

        <p>Idee taga on
            <a href="https://www.facebook.com/thpnu" target="_blank">Tallinna ja
                Harjumaa Puuetega Naiste Ühing</a>, kelle juhi Keiu Roosimägi
            eestvedamisel ideed esmakordselt ja avalikult
            <a href="http://garage48.org/blogger/winners-of-the-garage48-enable-tallinn-2014-atat-disabled-friendly-helpific-smilemeback" target="_blank">Garage48
            arendusnädalavahetusel</a> esitleti. Tänaseks on kokku pandud
            <a href="/team">rahvusvaheline meeskond</a> rakenduse
            väljatöötamiseks.
        </p>
        <h2>Missioon</h2>
    <p>Helpific'u missiooniks on tagada ja hoida iga inimese eneseväärikust, et elus ei jääks miskit lihtsalt puude tõttu tegemata ning anda seeläbi panus targa ühiskonna kujunemisse.</p>
        <h2>Arendus</h2>
    <p>Tegemist hakkab olema lihtsa, kiire ja toreda lahendusega, mis toob rõõmu mõlemale poolele - nii abiandjale kui abivajajale. Väga suur rõhk on rakenduses pandud turvalisusele.</p>
    <p>Hetkel on kogu loodav süsteem arendusjärgus. Peetakse nõu valdkonna spetsialistitega, kogutakse tagasisidet erivajadustega inimestelt, kohtutakse võimalike investoritega ja peetakse pikki töökoosolekuid.</p>
        <h2>Sihtgrupp</h2>
    <p>Meie sihtgrupp Eestis on 130 000 erivajadusega inimest ning need, kellele on südamelähedane ulatada oma abistav käsi. Me soovime viia loodava süsteemi rahvusvahelisele turule esimesel võimalusel. </p>
{% endblock %}
