{% extends "_layouts/main_layout.html.twig" %}

{% block content %}

        <p>T채name Teid toe eest! See k천ik juhtus 48 tunni jooksul Garage 48 Enable k채igus. Saate edasi registreerida ja hoidke end kursis uute arendustega!</p>
        <p>Palume kannatlikku meelt ja s체dant, sait on kohe varsti loetav ka eesti keeles</p>

{% endblock %}
