{% extends "_layouts/main_layout.html.twig" %}

{% block content %}

        <p>Täname Teid toe eest! See kõik juhtus 48 tunni jooksul Garage 48 Enable käigus. Saate edasi registreerida ja hoidke end kursis uute arendustega!</p>
        <p>Palume kannatlikku meelt ja südant, sait on kohe varsti loetav ka eesti keeles</p>
    
    <h1>Helpific</h1>
        <p><strong>Helpific</strong> on vabatahtlikke ja abivajajaid ühendav
            veebipõhine platvorm, mis viib kokku vabatahtliku abivajajaga, et
            luua tugevamat ja hoolivamat kogukonda.</p>
    
        <p>Idee taga on
            <a href="https://www.facebook.com/thpnu" target="_blank">Tallinna ja
                Harjumaa Puuetega Naiste Ühing</a>, kelle juhi Keiu Roosimägi
            eestvedamisel ideed esmakordselt ja avalikult
            <a href="http://garage48.org/blogger/winners-of-the-garage48-enable-tallinn-2014-atat-disabled-friendly-helpific-smilemeback" target="_blank">Garage48
            arendusnädalavahetusel</a> esitleti. Tänaseks on kokku pandud 
            <a href="/team">rahvusvaheline meeskond</a> rakenduse
            väljatöötamiseks. 
        </p>
        <h2>Missioon</h2>
    <p>Helpific'u missiooniks on tagada ja hoida iga inimese eneseväärikust, et elus ei jääks miskit lihtsalt puude tõttu tegemata ning anda seeläbi panus targa ühiskonna kujunemisse.</p>
        <h2>Arendus</h2>
    <p>Tegemist hakkab olema lihtsa, kiire ja toreda lahendusega, mis toob rõõmu mõlemale poolele - nii abiandjale kui abivajajale. Väga suur rõhk on rakenduses pandud turvalisusele.</p>
    <p>Hetkel on kogu loodav süsteem arendusjärgus. Peetakse nõu valdkonna spetsialistitega, kogutakse tagasisidet erivajadustega inimestelt, kohtutakse võimalike investoritega ja peetakse pikki töökoosolekuid.</p>
        <h2>Sihtgrupp</h2>
    <p>Meie sihtgrupp Eestis on 130 000 erivajadusega inimest ning need, kellele on südamelähedane ulatada oma abistav käsi. Me soovime viia loodava süsteemi rahvusvahelisele turule esimesel võimalusel. </p>
{% endblock %}
