{% extends "_layouts/main_layout.html.twig" %}

{% block content %}

<div class="centered">
  <h1>Add new help request</h1>
  <br />
  <br />
  <br />
</div>

<div class="row">
  <form class="form-horizontal" role="form" name="need_help" method="post">

    <div class="form-group">
      <label for="category" class="col-sm-2 control-label">Category:</label>
      <div class="col-sm-5">
        <select class="form-control" name="category">
          <option>Visiting events or appointments</option>
          <option>Housework</option>
          <option>Transport</option>
          <option>Personal assistance</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="city" class="col-sm-2 control-label">City:</label>
      <div class="col-sm-5">
        <select class="form-control" name="city">
          <option>Tallinn</option>
          <option>Tartu</option>
          <option>Narva</option>
          <option>Kohtla-Järve</option>
          <option>Pärnu</option>
          <option>Viljandi</option>
          <option>Rakvere</option>
          <option>Maardu</option>
          <option>Sillamäe</option>
          <option>Kuressaare</option>
          <option>Võru</option>
          <option>Valga</option>
          <option>Haapsalu</option>
          <option>Jõhvi</option>
          <option>Paide</option>
          <option>Keila</option>
          <option>Kiviõli</option>
          <option>Tapa</option>
          <option>Põlva</option>
          <option>Jõgeva</option>
          <option>Türi</option>
          <option>Elva</option>
          <option>Rapla</option>
          <option>Saue</option>
          <option>Põltsamaa</option>
          <option>Paldiski</option>
          <option>Sindi</option>
          <option>Kunda</option>
          <option>Kärdla</option>
          <option>Loksa</option>
          <option>Kehra</option>
          <option>Tõrva</option>
          <option>Räpina</option>
          <option>Narva-Jõesuu</option>
          <option>Tamsalu</option>
          <option>Kilingi-Nõmme</option>
          <option>Otepää</option>
          <option>Karksi-Nuia</option>
          <option>Püssi</option>
          <option>Mustvee</option>
          <option>Lihula</option>
          <option>Võhma</option>
          <option>Antsla</option>
          <option>Abja-Paluoja</option>
          <option>Suure-Jaani</option>
          <option>Kallaste</option>
          <option>Mõisaküla</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="date" class="col-sm-2 control-label">Date:</label>
        <div class=" col-sm-5">
          <div class="input-group date" id="datetimepicker">
            <input type="text" class="form-control" name="date" value="{{ now }}" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary btn-lg">Send</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
