{% extends "_layouts/main_layout.html.twig" %}

{% block header_picture %}
    <div class="header_picture">

        <div class="headline centered">
          <h1>Helpific - it´s never been easier to give and get help. </h1><br>
          <h2>Helpific is a person to person platform to create stronger communities. </h2>
          <a href="#">
            
            <img src="{{base_url}}/assets/images/playbutton.png" class="img-responsive centered-margin m40top">

            <h2 class="m20top">Watch video</h2>

          </a>
        </div>
    </div>
{% endblock %}

{% block front_doors %}
    
    <div class="front-doors">
        <div class="left">ein</div>
        <div class="right">zwei</div>
    </div>
    
{% endblock %}

{% block content %}

{% endblock %}
