{% extends "_layouts/main_layout.html.twig" %}

{% block content %}
	
	<span class="centered"><h1>Isn't it easier together</h1></span>
	
    
    <div class="row fp-main-buttons-container">
		<div class="col-md-5 centered">
			<img src="{{base_url}}/assets/images/door2.png" class="img-responsive" alt="">
			<button class="btn yellowbutton">I need help</button>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-5 centered">
			<img src="{{base_url}}/assets/images/door1.png" class="img-responsive" alt="">
			<button class="btn yellowbutton">I want to help</button>
		</div>
    </div>

    <div class="centered">
    	{% if user == false %}
    	<a href="{{base_url}}/auth/facebook"><i class="fa fa-facebook" style="font-size: 30px"></i></a>
    	{% endif %}
    </div>

    <br><br><br><br><br>

{% endblock %}