{% extends "_layouts/main_layout.html.twig" %}

{% block content %}

<div style="line-height: 2em;">

    <div class="row">

        <h1><a href="#main-idea">Volunteer page</a></h1>
        <p>
            Currently its missing.
        </p>

    </div>

</div>

{% endblock %}
